{% if grouped is empty %}
    <p class="guc-search__empty">{{ 'MSC.guc_search_no_results'|trans({}, 'contao_default') }}</p>
{% else %}
    {% for group in grouped %}
        <div class="guc-search__group" data-type="{{ group.type }}">
            <div class="guc-search__group-header">
                <span class="guc-search__badge guc-search__badge--{{ group.type }}">{{ group.label }}</span>
                <span class="guc-search__count">{{ group.total }} Treffer</span>
            </div>
            <ul class="guc-search__list">
                {% for result in group.results %}
                    <li class="guc-search__item">
                        <a href="{{ result.url }}" class="guc-search__link">
                            <strong class="guc-search__title">{{ result.title }}</strong>
                            {% if result.excerpt %}
                                <span class="guc-search__excerpt">{{ result.excerpt|raw }}</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% if group.hasMore %}
                <a href="?q={{ query }}&type={{ group.type }}" class="guc-search__more">
                    {{ 'MSC.guc_search_more'|trans({}, 'contao_default') }}
                </a>
            {% endif %}
        </div>
        {% if not loop.last %}
            <hr class="guc-search__divider">
        {% endif %}
    {% endfor %}
{% endif %}
